@charset "utf-8";

body { 
  margin: 0; padding: 0;
  width: 100%;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #eee;
}

.main_wrapper { 
  width: 960px; 
  margin: 15px auto;
  background-color: white;
  -webkit-box-shadow: 0 2px 6px #888;
  -moz-box-shadow: 0 2px 6px #888;
  overflow: hidden;
}

.inner_title_wrapper { 
  width: 100%;
  padding: 1em;
}
.inner_title_wrapper span { 
  color: black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30pt;
  text-shadow: gray 1px 1px 1px;
}
.inner_title_wrapper a { text-decoration: none; }

div.menu_bar {
  clear: both;
  float: left;
  width: 100%;
  overflow: hidden;
}
div.menu_bar ul {
  padding: 2em 0 0 3em;
  margin: 0 auto;
  list-style-type: none;
  float: left;
}
div.menu_bar li {
  float: left;
  padding: 0.5em 1em;
  margin: 0 0.5em 0;
  font-size: 12pt;
  font-weight: bold;
  color: white;
  text-shadow: gray 1px 1px 1px;
}
div.menu_bar li.selected {
  background-color: white;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  color: black;
  text-shadow: none;
}
div.menu_bar li a {
  text-decoration: none;
  color: inherit;
}

a { outline: none;}
img { border: none;}
p { margin: 0; padding: 0 0 10px 0;}

h1, h2, h3, h4 { 
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 20px;
  color: #000000;
  font-weight: normal;
  width: 100%;
  float: left;
}
h2 { font-size: 18px; font-weight: bold }

.cb { clear: both;}

.blue_bg_inner { 
  background: #4abcec; /* for non-css3 browsers */ 

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43b1da', endColorstr='#4ec7fa'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#43b1da), to(#4ec7fa)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #43b1da,  #4ec7fa); /* for firefox 3.6+ */ 
  background: -o-linear-gradient(top,  #43b1da,  #4ec7fa); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #43b1da,  #4ec7fa); /* IE10+ */
}

.content_wrapper { background-color: #f0f1f2; width: 946px; float: left; padding: 7px; margin: 16px 0 0 0;}
.content_wide { background-color: #ffffff; padding: 17px;}

.footer_wrapper { 
  width: 100%; 
  float: left;
  font-size: 9px;
  color: #929d9e;
  line-height: 10px;
  font-family: "Tahoma";
  padding: 25px 0 25px;
}
.copyright_1 { 
  float: left; 
  text-transform: uppercase; 
  padding-left: 10px; 
  width: 250px;
}

.table_wrapper { margin-bottom: 20px; }
.table_wrapper h2 { color: #00a9e0; font-size: 12px; line-height: 15px; text-transform: uppercase; margin-bottom: 3px; }

a.external {
  color: #36B;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeF59z4EJADEIQ1F36k7u5E7ZKXeUQPACJ3wK7UNokVxVk9kHnQH7bY9hbDyDhNXgjpRLqFlo4M2GgfyJHhjq8V4agfrgPQX3JtJQGbofmCHgA/nAKks+JAjFAAAAAElFTkSuQmCC) center right no-repeat;
  padding-right: 13px;
}