@charset "utf-8";

body { margin: 0; padding: 0; width: 100%; font-family: Verdana, Arial, Helvetica, sans-serif;}

a { outline: none;}
img { border: none;}
p { margin: 0; padding: 0 0 10px 0;}

.cb { clear: both;}

.main_wrapper { width: 960px; margin: 0 auto; overflow: hidden;}

.inner_title_wrapper { width: 100%; float: left; height: 40px; line-height: 40px;  margin-top: 20px;}
.inner_title_wrapper span { float: left; color: #ffffff; font-weight: bold; font-size: 18px; margin: 0 0 0 15px;}

.blue_bg_inner { background-color: #4abcec;}
.content_wrapper { background-color: #f0f1f2; width: 946px; float: left; padding: 7px; margin: 16px 0 0 0;}
.content_wide { background-color: #ffffff; padding: 17px;}

.footer_wrapper { width: 100%; float: left;}
.footer_wrapper { font-size: 9px; color: #929d9e; line-height: 10px; font-family: "Tahoma"; padding: 40px 0 25px;}
.copyright_1 { float: left; text-transform: uppercase; padding-right: 10px; width: 250px;}

.table_wrapper { margin-bottom: 20px; }
.table_wrapper h2 { color: #00a9e0; font-size: 12px; line-height: 15px; text-transform: uppercase; margin-bottom: 3px; }
