@charset "utf-8";
/* CSS Document */

body { margin: 0; padding: 0; width: 100%; font-family: Verdana, Arial, Helvetica, sans-serif;}

/*------------------------ GENERAL BEGINS ------------------------*/
img { border: none;}
p { margin: 0; padding: 0 0 10px 0;}
.cb { clear: both;}
.cl { clear: left;}
.cr { clear: right;}

.fl { float: left;}
.fr { float: right;}

a { outline: none;}

.main_wrapper { width: 960px; margin: 0 auto; overflow: hidden;}
.top_icons_wrapper, .header_wrapper, .promo_block_wrapper, .set_btn_wrapper, .inf_blocks_wrapper, .banners_wrapper, .set_block_wrapper, .footer_wrapper { width: 960px; float: left;}

/*------------------------ GENERAL ENDS ------------------------*/



/*------------------------ LOGO AND NAVY BEGINS ------------------------*/
.header_wrapper { margin: 10px 0 5px; display:none; }

.logo, .logo a, .logo img { float: left;}

.main_navy_wrapper { float: right;  width:100%; }
*:first-child+html .main_navy_wrapper { padding-bottom: 4px;}

.top_navy { margin: 0; padding: 0; list-style: none;  float: left; /* width: 880px; */  }
.top_navy li { float: left; margin: 0 0 4px 8px; width: 234px; height: 28px; z-index: 1;}
.top_navy li a { display: block; text-transform: uppercase; text-decoration: none; color: #6a737b; font-size: 10px; border-top: 1px solid #f5f5f5; border-left: 1px solid #f5f5f5;  border-right: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9; height: 26px; line-height: 26px; padding: 0 10px;}

.top_navy li a:hover, .top_navy li.active a { color: #ffffff;}

.top_navy.orange_bg_2 li a:hover, .top_navy.orange_bg_2 li.active a { background-color: #fec000;}

.top_navy.blue_bg_2 li a:hover, .top_navy.blue_bg_2 li.active a { background-color: #4abcec;}


.top_navy li.first { margin-left: 0; width: 154px;}


.top_navy .top_sub_navy { margin: 0; padding: 0; list-style: none; width: 879px; position: absolute; background-color: #ff6200; z-index: 10; top: 32px; left: 0; display: none;}
.top_navy .top_sub_navy li { float: left; margin: 0 35px 0 0; width: auto; height: auto;}
.top_navy .top_sub_navy li a { text-transform: uppercase; color: #ffffff; text-decoration: none; width: auto; border: none; padding: 0 0 0 10px; margin: 0; height: 28px; line-height: 28px;}
.top_navy .top_sub_navy li a:hover { text-decoration: underline; background: none;}

.top_navy li.active .top_sub_navy li a { background: none;}
/*------------------------ LOGO AND NAVY ENDS ------------------------*/



/*------------------------ INFORMATION BLOCKS BEGINS ------------------------*/
.inf_blocks_wrapper { width: 968px; overflow: hidden;}

.sortable_placeholder { border: 2px dashed #fec000; float: left; width: 230px; height: 186px; margin: 0 8px 8px 0;}

.inf_block { float: left; border: 1px solid #e5e5e5; border-top: none; width: 232px; margin: 0 8px 8px 0; background-color: #ffffff;} /* height: 190px; */
.inf_block_top { height: 15px; padding-left: 10px; line-height: 15px; font-weight: bold; font-size: 10px;}
.inf_block_middle { height: 145px; padding: 0 10px; color: #929d9e; font-size: 11px; line-height: 12px; overflow: hidden;}
.inf_block_bottom { height: 20px; padding: 0 10px;}

.inf_block_middle.video_brief { margin-bottom: 10px;}

.inf_block_content { margin: 10px 0 0;}
.inf_block_content.quotation { position: relative;}

.inf_block_bottom_spacer { width: 225px; height: 10px; position: absolute; z-index: 1; bottom: 0; left: 0; background-color: #FFFFFF; font-size: 1px; line-height: 1px; text-indent: -9999px;}

.inf_block_title { font-size: 10px; text-transform: uppercase; float: left; line-height: 15px;}
.inf_block_icons { float: right; margin: 0; padding: 0; list-style: none;}
.inf_block_icons li { margin-left: 2px; float: left;}
.inf_block_icons li span { width: 15px; height: 15px; display: block; float: left; font-size: 1px; line-height: 1px; text-indent: -9999px; background: url(../images/sprite-inf-block-btns.gif) no-repeat 0 0; cursor: pointer;}

.inf_block_icons li span.inf_block_slide_btn { background-position: 0 0;}
.inf_block_icons li span.inf_block_slide_btn.active { background-position: 0 -15px;}
.inf_block_icons li span.inf_block_close_btn { background-position: 0 -30px;}

.more, .rss { text-transform: uppercase; text-decoration: none; font-size: 9px; font-family: "Tahoma";}
.more { float: left; color: #6a737b; padding-right: 10px; background: url(../images/icon-orange-arrow.gif) 100% 50% no-repeat;}
.rss { float: right;}



.index_news_list { margin: 0; padding: 0; list-style: none;}
.index_news_list li { line-height: 12px; margin-bottom: 10px;}
.index_news_list li strong { display: block; font-size: 9px;}
.index_news_list li a { text-decoration: none; font-size: 11px; color: #929d9e;}
.index_news_list li a:hover { color: #6A737B;}


.quotations_list { height: 165px;}
.quotations_list ul { margin: 0 0 10px 10px; padding: 0; list-style: none;}
.quotations_list ul li { font-family: Arial, Helvetica, sans-serif; font-size: 11px;}

.quotation_l { color: #929d9e; float: left; width: 155px;}
.quotation_r { float: right; width: 50px; text-align: right;}
.quotation_r.up { background: url(../images/icon-quotation-up.gif) no-repeat 0 3px; color: #fec000;}
.quotation_r.down { background: url(../images/icon-quotation-down.gif) no-repeat 0 4px; color: #ff6200;}



/*------------------------ INFORMATION BLOCKS ENDS ------------------------*/


/*------------------------ BANNERS BEGINS ------------------------*/
.banners_wrapper { background-color: #f0f1f2; padding: 0; margin: 12px 0 0;}
.banner_block { width: 205px; margin: 10px 0 10px 12px; background-color: #ffffff; padding: 0 10px; float: left;}
.banner_block_navy { height: 15px;}
.banner_block_content { height: 95px; width: 205px; overflow: hidden; background-position: 0 0; background-repeat: no-repeat;}
.banner_block_content img, .banner_block_content a { float: left;}
/*------------------------ BANNERS ENDS ------------------------*/


/*------------------------ INNER TITLE BEGINS ------------------------*/
.inner_title_wrapper { width: 960px; float: left; height: 40px; line-height: 40px;  margin-top: 20px;}
.inner_title_wrapper span { float: left; text-transform: uppercase; color: #ffffff; font-weight: bold; font-size: 18px; margin: 0 0 0 15px;}
/*------------------------ INNER TITLE ENDS ------------------------*/


/*------------------------ INNER TOP PATH BEGINS ------------------------*/
.inner_top_path_wrapper { width: 960px; float: left; height: 23px; line-height: 23px; background-color: #929d9e;}
.path_line { margin: 0; padding: 0 0 0 15px; list-style: none;}
.path_line li { float: left; margin: 0 10px 0 0; height: 23px; line-height: 23px;}
.path_line li a, .path_line li span { color: #dedfe4; font-size: 10px; text-decoration: none; float: left;}
.path_line li a:hover { color: #ffffff;}
.path_line li span { color: #ffffff; cursor: default;}

.path_line li.spacer_arrow { font-size: 1px; line-height: 1px; text-indent: -9999px; width: 12px; background: url(../images/icon-path-arrow.gif) no-repeat 0 0;}
/*------------------------ INNER TOP PATH ENDS ------------------------*/


/*------------------------ GENERAL CONTENT BEGINS ------------------------*/
.content_wrapper { background-color: #f0f1f2; width: 946px; float: left; padding: 7px; margin: 16px 0 0 0;}
.content_left_with_center { float: left; background-color: #ffffff; width: 696px; padding: 9px; position: relative;}

.content_right { float: right; width: 225px;}
.right_side_block { background-color: #ffffff; margin: 0 0 10px; padding: 12px 10px;}
.right_side_title { text-transform: uppercase; font-size: 10px; line-height: 12px; font-weight: bold; margin: 0 0 18px;}

.content_left { float: left; width: 190px;}
.content_center { float: right; width: 490px; padding: 5px 0 30px;}

.center_title { background-position: 0 22px; background-repeat: no-repeat; padding-bottom: 12px; margin: 0 0 15px;}
.center_text {}

.content_wide { background-color: #ffffff; padding: 17px;}

.center_title div.fr.rss { padding: 6px 5px 0 20px;}

a.center_print { border-left: 1px solid #f4f5f5; border-top: 1px solid #f4f5f5; text-transform: uppercase; text-decoration: none; font-size: 10px; padding: 9px 13px 9px 25px; background-position: 8px 50%; background-repeat: no-repeat; display: block; position: absolute; right: 0; bottom: 0;}

h1, h2, h3, h4 { margin: 0; padding: 0; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 17px; color: #000000; font-weight: normal; width: 100%; float: left;}
h1 { margin-bottom: 15px;}
h2 { font-size: 16px; font-weight: bold;}
h3 { color: #6a737b; margin-bottom: 12px;}
h4 { font-size: 15px; font-weight: bold; line-height: 20px;}

h4 a.rss { font-weight: normal; float: none;}
/*------------------------ GENERAL CONTENT ENDS ------------------------*/






/*------------------------ INNER PAGE BEGINS ------------------------*/
.content_text { width: 100%; float: left; color: #2f2f2f; font-size: 12px; margin: 10px 0 0;}
.content_text a { color: #2f2f2f; text-decoration: underline;}
.content_text a:hover { text-decoration: none;}

.movie_wrapper { width: 100%; float: left; margin: 10px 0 5px;}

.styled_table_1 thead { background-color: #d2d5d7;}
.styled_table_1 td { padding: 7px 10px; border-bottom: 1px solid #f0f1f2;}


.back_to { width: 100%; float: left; margin: 10px 0 0;}
.back_to a { color: #6A737B; font-family: "Tahoma"; font-size: 10px; text-decoration: none; text-transform: uppercase; background: url(../images/icon-orange-arrow-2.gif) no-repeat 0 4px; padding: 0 0 0 10px;}

.go_to { width: 100%; float: left; margin: 2px 0 7px;}
.go_to a { color: #6A737B; font-family: "Tahoma"; font-size: 10px; text-decoration: none; text-transform: uppercase; background: url(../images/icon-orange-arrow.gif) no-repeat 100% 4px; padding: 0 10px 0 0;}
/*------------------------ INNER PAGE ENDS ------------------------*/




/*------------------------ SEARCH PAGE BEGINS ------------------------*/
.search_form { margin: 8px 0 13px; padding: 0; list-style: none; width: 100%; float: left;}
.search_form li { width: 100%; float: left; margin: 0 0 11px;}

.search_form li.line_input {}

.search_form li.line_input input.search_input { float: left; border: 1px solid #b0b0b9; border-right: none; padding: 2px 5px; width: 270px; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; height: 15px;}
.search_form li.line_input input.search_btn { float: left; width: 21px; height: 21px; border: none; cursor: pointer; background-image: url(../images/icon-search.gif); background-position: 50% 50%; background-repeat: no-repeat;}

.search_form li.line_result { font-size: 12px; color: #000000;}

.search_results { padding: 0 0 10px 25px; margin: 0; width: 885px; float: left;}
.search_results li { font-size: 12px; margin: 0 0 25px;}

.search_title { font-weight: bold; margin: 0 0 3px;}
.search_brief_desc { line-height: 20px; margin: 0 0 3px;}
.search_link {}
.search_link a { color: #000000; text-decoration: underline;}
.search_link a:hover { text-decoration: none;}
/*------------------------ SEARCH PAGE ENDS ------------------------*/



/*------------------------ FOOTER BEGINS ------------------------*/
.footer_wrapper { font-size: 9px; color: #929d9e; line-height: 10px; font-family: "Tahoma"; padding: 40px 0 25px;}

.copyright_1 { float: left; text-transform: uppercase; padding-right: 10px; width: 250px;}
.footer_contacts { float: left; text-transform: uppercase; padding-right: 10px; width: 280px;}
.social_networks { float: left; width: 150px; padding-right: 10px;}
.footer_subscribe { float: left; width: 130px;}
.footer_subscribe a { font-size: 11px; text-decoration: none; color: #929d9e;}
.copyright_2 { float: right; text-transform: uppercase; width: 100px;}
.copyright_2 a { text-decoration: none; color: #00257b;}
/*------------------------ FOOTER ENDS ------------------------*/


/*------------------------ WEB COLORS BEGINS ------------------------*/
.orange_border { border-color: #ff6200;}
.orange_bg { background-color: #ff6200;}
.orange_bg_inner { background-color: #fec000;}
.orange_text { color: #ff6200;}
.orange_underslash { background-image: url(../images/underslash-4px-orange.gif);}
.orange_print { background-image: url(../images/icon-print-orange.gif); color: #fec000;}


.green_border { border-color: #319f00;}
.green_bg { background-color: #319f00;}
.green_bg_inner { background-color: #8fe812;}
.green_text { color: #319f00;}
.green_underslash { background-image: url(../images/underslash-4px-green.gif);}
.green_print { background-image: url(../images/icon-print-green.gif); color: #8fe812;}


.blue_border { border-color: #00a9e0;}
.blue_bg { background-color: #00a9e0;}
.blue_bg_inner { background-color: #4abcec;}
.blue_text { color: #00a9e0;}
.blue_print { background-image: url(../images/icon-print-blue.gif); color: #018ab8;}
/*------------------------ WEB COLORS ENDS ------------------------*/


.center_title span {color: #FF6200; border-bottom: 1px solid #FF6200; font-weight: bold;  }


/*------------------------ FORM START ------------------------*/
.form_wrapper { margin-bottom: 25px; display:none;  }

.form_fields_wrapper .left { float:left; width: 220px; padding-top: 2px;  }
.form_fields_wrapper .right { float:left; width: 220px; margin-left:20px; padding-top: 2px;  }
.form_fields_wrapper .search_but { float:left; width: 100px; margin-left:20px;  }

.form_fields_wrapper div {   }

/*------------------------ FORM  END ------------------------*/

.table_wrapper { margin-bottom: 20px; }

.table_wrapper h2 { color: #00a9e0; font-size: 12px; line-height: 15px; text-transform: uppercase; margin-bottom: 3px; }






















