<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title%}Главная{%endblock%}</title>

<link href="css/main.css" rel="stylesheet" type="text/css" />

<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
  google.load("jquery", "1.7.1");

  function sumJSON2DataTable(sourceJson) {
    var data = new google.visualization.DataTable(sourceJson);

    var formatter = new google.visualization.NumberFormat(
        {suffix: ' руб', negativeParens: true, fractionDigits: 0, groupingSymbol: ' '});
    formatter.format(data, 1); // Apply formatter to second column
    return data;
  };
  function drawTypesPieChart(divId, data) {
    var chart = new google.visualization.PieChart(document.getElementById(divId));
    chart.draw(data, {height: 280,
                      chartArea: {top: 20, height: "100%"},
                      legend: "none",
                      is3D: true});    
  };
  function drawTimeChart(divId, data) {
    var chart = new google.visualization.LineChart(document.getElementById(divId));
    chart.draw(data, {});
  };
  </script>

  {% block inner_scripts %}
  {% endblock %}
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-266469-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
<div class="main_wrapper">
    <!-- inner title -->
	<div class="inner_title_wrapper">       <!-- blue_bg_inner -->
	  <a href="/"><span>РусЗакупки</span></a>
	</div>
	<div class="menu_bar blue_bg_inner">
	  <ul>
	    <li class="selected"><a href="/">Главная</a></li>
	    <li><a href="/">О проекте</a></li>
	  </ul>
	</div>
    <div class="content_wrapper">
    	<div class="content_wide">
        	   <div>
    {% block content %}
    {% endblock %}
            </div>
        </div>
    </div>
    <div class="footer_wrapper">
    	<div class="copyright_1">© 2011 РусЗакупки</div>
    </div>
</div>
</body>
</html>