<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title%}Главная{%endblock%}</title>

<link href="css/main.css" rel="stylesheet" type="text/css" />

<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
  // ------------ jquery start  --------------- //
  google.load("jquery", "1.6.4");
   
  function get_json(myUrl) {
    return $.ajax({
      url: myUrl,
      dataType: 'json', 
      async:false,
    }).responseText;
  } 
  // ------------ jquery start  --------------- // 
  </script>
   
  {% block inner_scripts %}
  {% endblock %}
</head>

<body>
<div class="main_wrapper">
    <!-- logo and navy -->
	<div class="header_wrapper">
        
        <!-- navy -->
    	<div class="main_navy_wrapper">
        	<ul class="top_navy blue_bg_2">
            	<li class="first"><a href="/">Главная</a></li>
                <li><a href="#">Top поставщиков</a></li>
                <li><a href="#">Top потребителей</a></li>
 			</ul>
        </div>
        <!-- / navy -->
        
    	<div class="cb"></div>
    </div>
    <!-- / logo and navy -->
    
    <!-- inner title -->
	<div class="inner_title_wrapper blue_bg_inner">
	  <span>RusZakupki.org</span>
	</div>
    <!-- / inner title -->
    <!-- content -->
    <div class="content_wrapper">
    	<div class="content_wide">            
             <!-- data -->
        	   <div class="data_wrapper">
    
    {% block content %}
    {% endblock %}
            </div>
            <!-- / data -->
            <div class="cb"></div>
        </div>
        <div class="cb"></div>
    </div>

    <!-- footer -->
    <div class="footer_wrapper">
    	<div class="copyright_1">2011 Визуализация госзакупок</div>
    	<div class="cb"></div>
    </div>
    <!-- / footer -->
    
	<div class="cb"></div>
</div>
<!-- / general content -->

</body>
</html>