{% extends "base.html" %}
{% block title %}{{customer.full_name|safe}}{% endblock %}
{% block inner_scripts %}
<script type='text/javascript'>
google.load('visualization', '1', {packages:['table']});
google.load('visualization', '1', {packages:['corechart']});
google.setOnLoadCallback(drawCharts);
function drawCharts() {
  {
    $.getJSON('/expenses',
              {'customer': '{{customer.key.name}}',
               'dim': 'type'},
              function(sourceData) {
                var data = sumJSON2DataTable(sourceData);
                drawTypesPieChart('categories_chart', data);
                var table = new google.visualization.Table(document.getElementById('categories_table'));
                table.draw(data, {showRowNumber: true, allowHtml: true});
              });
  }
  {
    $.getJSON('/time_chart',
              {'customer': '{{customer.key.name}}'},
              function(sourceData) {
                drawTimeChart('months_bar_chart', sumJSON2DataTable(sourceData));
              });
  }
};
</script>
{% endblock %}
{% block content %}
<h2>{{customer.full_name|safe}}</h2>
<ul class="cb">
  <li>ИНН: {{customer.inn}}</li>
  <li>КПП: {{customer.kpp}}</li>
  <li><a rel="nofollow"
         class="external"
         target="blank"
         href="http://zakupki.gov.ru/pgz/public/action/organizations/registry/search?searchStr={{customer.reg_num}}">
       Регистрационные данные <img>
  </a></li>
</ul>
<div class="table_wrapper">
  <h2>Закупки по категориям</h2>
    <div class="cb"></div>
  <table>
    <tr>
      <td style="vertical-align: top;">
        <div id="categories_chart"></div>
      </td>
      <td style="vertical-align: top;">
        <div id="categories_table"></div>
      </td>
    </tr>
  </table>
  <!-- <div class="cb"></div> -->
  <div class="table_wrapper">
    <h2>Закупки по дате заключения контракта</h2>
    <div class="cb"></div>
    <div id="months_bar_chart"></div>
    <div class="cb"></div>
  </div>
</div>

{% endblock %}
