{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block inner_scripts %}
<script type='text/javascript'>
google.setOnLoadCallback(drawCharts);
function drawCharts() {
  {
    $.getJSON('/expenses',
              {'dim': 'type'},
              function(sourceData) {
                var data = sumJSON2DataTable(sourceData);
                drawTypesPieChart('categories_chart', data);

                var table = new google.visualization.Table(document.getElementById('categories_table'));
                table.draw(data, {showRowNumber: true, allowHtml: true});
              });
  }
  {
    $.getJSON('/time_chart',
              function(sourceData) {
                drawTimeChart('months_bar_chart', sumJSON2DataTable(sourceData));
              });
  }
}
</script>
{% endblock %}
{% block home-selected %}selected{% endblock %}
{% block content %}
<p>
  Проект <a href="/">РусЗакупки</a> дает возможность увидеть, на что государство тратит
  деньги налогоплатильщиков. 
</p>
<p>
  С правительственного сайта <a href="http://zakupki.gov.ru/">zakupki.gov.ru</a> мы взяли
  открытые данные о контрактах, заключенных государственными учереждениями начиная с 2007 года.
  Полученная информация позволила посчитать сколько в каждом регионе РФ было потрачено денег на закупки,
  сколько потратило каждое учреждение, какой доход получил каждый из поставщиков, на какие расходы пошли
  наши с вами деньги (<a href="/about">более подробно о проекте...</a>).
</p>
<p>
  Актуальность данных: <span class="actuality-date">{{config.actuality_date}}</span>
</p>
<div class="table_wrapper">
  <h2>Закупки по категориям</h2>
    <div class="cb"></div>
  <table>
    <tr>
      <td style="vertical-align: top;">
        <div id="categories_chart"></div>
      </td>
      <td style="vertical-align: top;">
        <div id="categories_table"></div>
      </td>
    </tr>
  </table>
  <div class="cb"></div>
</div>
<div class="table_wrapper">
  <h2>Закупки по дате заключения контракта</h2>
  <div class="cb"></div>
  <div id="months_bar_chart"></div>
  <div class="cb"></div>
</div>
{% endblock %}
