<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> Регион </title>

<link href="css/main.css" rel="stylesheet" type="text/css" />

<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>

  // ------------ jquery start  --------------- //
  google.load("jquery", "1.6.4");
   
  function get_json(myUrl) {
    return $.ajax({
      url: myUrl,
      dataType: 'json', 
      async:false,
    }).responseText;
  } 
  // ------------ jquery end  --------------- // 
       
  google.load('visualization', '1', {packages:['table']});
  google.load('visualization', '1', {packages:['corechart']});
  google.setOnLoadCallback(drawTable);
  function drawTable() {  
    
    {
      var evalledData = eval("(" + get_json('/top_customers?region={{region_code}}&view=json') + ")");
      var data = new google.visualization.DataTable(evalledData);
      var table = new google.visualization.Table(document.getElementById('customers_table'));
      table.draw(data, {showRowNumber: true});
    }

    {
      var evalledData = eval("(" + get_json('/region_bar_chart.json?code={{region_code}}') + ")");
      var data = new google.visualization.DataTable(evalledData);
      var chart = new google.visualization.ColumnChart(document.getElementById('months_bar_chart'));
      chart.draw(data, {width: 800, height: 500, title: 'Закупки'
          //hAxis: {title: 'Year', titleTextStyle: {color: 'red'}}
      });
    }
    
    {
      var evalledData = eval("(" + get_json('/region_pie_chart.json?code={{region_code}}') + ")");
      var data = new google.visualization.DataTable(evalledData);
      var chart = new google.visualization.PieChart(document.getElementById('types_pie_chart'));
      chart.draw(data, {width: 800, height: 500, title: 'Закупки'});
    }
  }
  
</script>


</head>






<body>

<!-- general content -->
<div class="main_wrapper">

	
    <!-- logo and navy -->
	<div class="header_wrapper"  style="display:block">
        
        <!-- navy -->
    	<div class="main_navy_wrapper">
        	<ul class="top_navy blue_bg_2">
            	<li class="first"><a href="/">Главная</a></li>
                <!-- <li><a href="#">Top поставщиков</a></li>
                <li><a href="#">Top потребителей</a></li> -->
                
 			</ul>
        </div>
        <!-- / navy -->
        
    	<div class="cb"></div>
    </div>
    <!-- / logo and navy -->
    
    <!-- inner title -->
	<div class="inner_title_wrapper blue_bg_inner" style="margin-top:5px;">
	  <span>Визуализация госзакупок</span>
	</div>
    <!-- / inner title -->
    
    <!-- content -->
    <div class="content_wrapper">
    	<div class="content_wide">
            
            <!-- form -->
	       <div class="form_wrapper">
        
                <form>
                    <div class="form_fields_wrapper">
                       <div class="left">
                            Период с 
                            <select id="select_date_from" name="date_from">
                                <option value="01" selected="selected">Январь</option>
                                <option value="02">Февраль</option>
                                <option value="03">Март</option>
                                <option value="04">Апрель</option>
                                <option value="05">Май</option>
                                <option value="06">Июнь</option>
                                <option value="07">Июль</option>
                                <option value="08">Август</option>
                                <option value="09">Сентябрь</option>
                                <option value="10">Октябрь</option>
                                <option value="11">Ноябрь</option>
                                <option value="12">Декабрь</option>
                            </select>
                            
                        </div>
                        <div class="right">
                            Период по 
                            <select id="select_date_to" name="date_to">
                                <option value="01">Январь</option>
                                <option value="02">Февраль</option>
                                <option value="03">Март</option>
                                <option value="04">Апрель</option>
                                <option value="05">Май</option>
                                <option value="06">Июнь</option>
                                <option value="07">Июль</option>
                                <option value="08">Август</option>
                                <option value="09" selected="selected">Сентябрь</option>
                                <option value="10">Октябрь</option>
                                <option value="11">Ноябрь</option>
                                <option value="12">Декабрь</option>
                            </select>
                        </div>
                        
                        <div class="search_but">
                            <input type="button" id="search_button" name="search_button" value="Искать" />
                        </div>
                     </div>   
                </form>
                <div class="cb"></div>
            </div>
            <!-- / form -->   
                    
                    
             <!-- data -->
        	<div class="data_wrapper">
                
                
                <h2 class="center_title">{{region_name}}</h2> 
                    
                <div class="table_wrapper">  
                    <h2>Top закупщики региона</h2>      
                    <div class="cb"></div>
                     <div id="customers_table"></div>
                    <div class="cb"></div>    
                </div> 
               
                <div id="months_bar_chart"></div>
                <div id="types_pie_chart"></div>
                
                
           	    <div class="cb"></div>
            </div>
            <!-- / data -->
                    
            <div class="cb"></div>
        </div>
        <div class="cb"></div>
    </div>
    <!-- / content -->

    <!-- footer -->
    <div class="footer_wrapper">
    	<div class="copyright_1">2011 Визуализация госзакупок</div>
    	<div class="cb"></div>
    </div>
    <!-- / footer -->
    
	<div class="cb"></div>
</div>
<!-- / general content -->


</body>
</html>