{% extends "base.html" %}
{% block title %}Поставщики{% endblock %}
{% block inner_scripts %}
<script type='text/javascript'>
google.setOnLoadCallback(drawCharts);
function drawCharts() {
  {
    $.getJSON('/expenses',
              {'dim': 'supplier'},
              function(sourceData) {
                var table = new google.visualization.Table(document.getElementById('top_suppliers'));
                table.draw(sumJSON2DataTable(sourceData), {showRowNumber: true, allowHtml: true});
              });
  }
}
</script>
{% endblock %}
{% block suppliers-selected %}selected{% endblock %}
{% block content %}
<p>
  Самые крупные получатели госудраственных средств за период с <span class="actuality-date">{{config.start_date}}</span> по <span class="actuality-date">{{config.actuality_date}}</span>.
<p>
<div class="table_wrapper">
    <div class="cb"></div>
    <div id="top_suppliers"></div>
    <div class="cb"></div>
</div>
{% endblock %}
